.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-signin-signup {
  display: flex;
  align-items: center;
  border: #0cadb7 solid 1px;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
}
.header-signin-signup a {
  color: #0cadb7;
}

.header-signin-signup Link {
  margin-right: 2px;
}

.singout-button {
  background-color: #0cadb7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.research {
  background-color: #f5f6f7;
  border-radius: 5px;
  width: 500px;
  height: 40px;
  border: white;
}

.vendre {
  height: fit-content;
  padding: 8px;
  color: white;
  border-radius: 5px;
  background-color: #09aeb7;
  border: white;
}

.hero {
  max-width: 100%;
}

.heroContainer {
  position: relative;
  background-image: url(../assets/img/heroImg.jpg);
  width: 100%;
  height: 500px;
  background-position: 50%;
  background-size: cover;
}

.tear {
  position: absolute;
  bottom: 0;
}
