/* Other rules */

body {
  /* background-color: red; */
  /* max-width: 1024px; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* rules for offer-page */

/* 
* {
  box-sizing: border-box;
} */
